@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* LogIn Page start */
.logbody{
   text-align: center;
}
.log_bg1{
    width: 1255px;
    height: 500px;
    border-radius: 50px;
    display: inline-block;
    background-color: paleturquoise;
    font-size: 25px;
}
.log_bg2{
    width: 600px;
    height: 250px;
    display: inline-block;
    border-radius: 30px;
    font-size: larger;
    background-color: blueviolet;
}
.log_bg2:hover{
    width: 500px;
    height: 300px;
    background-color: rgb(68, 246, 9);
    border-radius: 40px;
    border: rgb(105, 113, 176);
    border-width: 10px;
    border-style: dashed;
    transition: width 30s linear 2s;
}

.logIn{
    background-color: blue;
    font-size: 20px;
    border-radius: 10px;
}

.logIn:hover{
    background-color: rgb(250, 234, 8);
    font-size: 35px;
    border-radius: 10px;
}
.logtable:hover{
    display: flex;
    justify-items: center;
}

.reset{
    background-color: rgb(253, 253, 4);
    font-size: 20px;
    border-radius: 10px;
}
.reset:hover{
    background-color: rgb(161, 8, 250);
    font-size: 35px;
    border-radius: 10px;
}

.signUp{
    background-color: rgb(197, 197, 193);
    font-size: 20px;
    border-radius: 10px;
}
.signUp:hover{
    background-color: rgb(250, 193, 8);
    font-size: 35px;
    border-radius: 10px;
}
/* LogIn page end */


/* img {
    width: 100%;
    height: 100%;
} */

* {
    background-size: 100%;
}

/* Navbar start*/
.header-pic{
    text-align: center;
}
.head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head img {
    width: 3rem;
    height: 3.4rem;

}

.head h2 {
    color: #131318;
    font-size: 2.2rem;
    line-height: normal;
}

.orange1 {
    color: #FF5400;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange2 {
    color: #FF5400;
    font-weight: 700;
}

.navbar2 {
    display: flex;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    list-style-type: none;
    gap: 2.8rem;

}

.navbar2 a {
    text-decoration: none;

}

/* Navbar end */

/* Banner start */
.banner {
    height: 32rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Banner.png');
}

.banner-content {  
    display: block;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 00;

}

.banner-content p {
    width: 37rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

#input {
    width: 10rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: .6rem;
    border: 0rem;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.50);


}

.form button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    padding-bottom: 1rem;
    border-radius: .6rem;
    border: 0rem;
    background-color: #FF5400;
    font-size: 1rem;
    color: #FFF;
}

.form img {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;

}

/* Banner end */

.Tour-section {
    display: flex;
    gap: 3.2rem;
    padding-top: 6.25rem;
}

#Tour-head {
    color: #131318;
    font-size: 3.1rem;
    font-weight: 800;
}

.Tour-details {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

#Amet {
    width: 35rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

#btn2 {
    width: 6.8rem;
    height: 2rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    border: 0;
    background: #FF5400;
}

.Tour-image img {
    border-radius: 3rem;
    width: 100%;
    height: 100%;
}

/* End of Tour-description */

/* Start of destination-descrition */
.Destination {
    width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Destination-part {
    text-align: center;

}

/* Start of destination of image */

.row1 {
    height: 17rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-size: 100%;

}

.row2 {
    height: 15rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-size: 100%;
}

.pic1 {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 5.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;

}

.pic2 {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 9.png'), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic3 {
    width: 33%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 6.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic4 {
    width: 42%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 7.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic5 {
    width: 25%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 10.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic6 {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 12.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic7 {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 11.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

#Country-name {
    display: flex;
    justify-content: center;
    padding-top: 6.25rem;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 800;
}

/* Start Why part */

.Why-choose-us1 {
    width: 36rem;
    height: 8rem;
    margin: auto;
    text-align: center;

}

.Why-choose-us1 .why {
    color: #131318;
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.1rem;
    letter-spacing: 0%;
}

.Why-choose-us1 p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0%;
}

.hotel1 img,
.best img {
    width: 2.5rem;
    height: 2.5rem;
}

.hotel1 {
    display: flex;
    gap: 2rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.hotel1 .hotel2 {
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 1rem;
    padding: 1.3rem;
    background: rgba(251, 181, 99, 0.05);
}

.hotel1 .world {
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 1rem;
    padding: 1.3rem;
    background: rgba(41, 206, 246, 0.05);
}

.best {
    width: 41rem;
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 1rem;
    padding: 1.3rem;
    background: rgba(233, 68, 68, 0.05);
    margin: auto;
}

section .header3 {
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.9rem;
    letter-spacing: 0%;
}

section .para3 {
    color: rgb(90, 90, 93);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0%;
}

.deals {
    width: 36rem;
    height: 7rem;
    padding: 2rem;
    margin: auto;
    text-align: center;
}

.deals .deals-head {
    color: rgb(19, 19, 24);
    font-family: Mulish;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.9rem;
    letter-spacing: 0%;
}

.subscriber-part {
    width: 92%;
    height: 39rem;
    flex-shrink: 0;
    padding-left: 6.25rem;
    text-align: center;
    border-radius: 1rem;
    background: rgba(255, 0, 0, 0.05);
}

#email-pic {
    width: 8rem;
    height: 8rem;
    padding-left: 3.1rem;
    flex-shrink: 0;
    padding-top: 80px;
}

#sub-1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 6rem;
}

#sit-4 {
    width: 47rem;
    padding-left: 20rem;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

#input-1 {
    width: 19rem;
    height: 4rem;
    flex-shrink: 0;
    border-width: 0px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding-left: 0.75rem;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#sub-2 {
    width: 11rem;
    height: 3.8rem;
    flex-shrink: 0;
    border-width: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.last {
    width: 100%;
    height: 38rem;
    background: rgb(77, 159, 159);
    margin-left: 0px;
    border-radius: 1rem;
}

#big {
    width: 22rem;
    height: 5rem;
    padding-top: 8rem;
    padding-left: 9rem;
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
}

#call {
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    float: right;
    margin: 0px;
    padding-right: 2rem;
}

.footer-pic {
    text-align: center;
    padding-left: 15rem;
    padding-top: 7rem;
}

#right {
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 9rem;
    padding-top: 9.5rem;
}
#unsub{
    float: right;
    padding-right: 9.5rem;
}



/* Responsive area */
@media screen and (max-width: 375px) {
    .navbar1 .navbar2 .form .Tour-section {
        flex-direction: column;
    }

    .banner {
        width: 100%;
        flex-direction: column;
    }

    .banner-content {
        font-size: 1.4rem;
    }


    .Tour-image img {
        border-radius: 3rem;
        width: 100%;
        height: 100%;
    }

    .form button {
        flex-direction: column;
    }

    #input {
        display: block;
    }

    .row1 {
        flex-direction: column;
        width: auto;
        height: auto;

    }

    .row2 {
        flex-direction: column;
        width: 100%;
        background-size: 100%;
    }

}