@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

img{
    width: 100%;
    height: 100%;
}
*{
    background-size: 100%;
}

/* Navbar start*/
.head {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head img {
    width: 3rem;
    height: 3.4rem;

}

.head h2 {
    color: #131318;
    font-size: 2.2rem;
    line-height: normal;
}

.orange1 {
    color: #FF5400;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange2 {
    color: #FF5400;
    font-weight: 700;
}

.navbar2 {
    display: flex;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    list-style-type: none;
    gap: 2.8rem;

}

.navbar2 a {
    text-decoration: none;

}

/* Navbar end */

/* Banner start */
.banner {
    height: 32rem;
    padding-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Banner.png');
}

.banner-content {
    display: block;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 00;

}

.banner-content p {
    width: 37rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

#input {
    width: 10rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: .6rem;
    border: 0rem;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.50);


}

.form button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    padding-bottom: 1rem;
    border-radius: .6rem;
    border: 0rem;
    background-color: #FF5400;
    font-size: 1rem;
    color: #FFF;
}

.form img {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;

}

/* Banner end */

.Tour-section {
    display: flex;
    gap: 3.2rem;
    padding-top: 6.25rem;
}

#Tour-head {
    color: #131318;
    font-size: 3.1rem;
    font-weight: 800;
}

.Tour-details {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

#Amet {
    width: 35rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

#btn2 {
    width: 6.8rem;
    height: 2rem;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    border: 0;
    background: #FF5400;
}

.Tour-image img {
    border-radius: 3rem;
    width: 100%;
    height: 90%;
}

/* End of Tour-description */

/* Start of destination-descrition */
.Destination {
    width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Destination-part {
    text-align: center;

}

/* Start of destination of image */

.row1{
    height: 18rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-size: 100%;

}

.row2{
    height: 15rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-size: 100%;
}

.pic1 {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 5.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;

}

.pic2 {
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 9.png'), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic3 {
    width: 33%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 6.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic4 {
    width: 42%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 7.png'),lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic5 {
    width: 25%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 10.png'),lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic6 {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 12.png'), lightgray 50% / cover no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic7 {
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle 11.png'), lightgray 50% / cover no-repeat;
    /* background-size: 100%; */
    background-repeat: no-repeat;
}

#Country-name {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 800;
}

/* Responsive area */
@media screen and (max-width: 375px) {
    .navbar1 .navbar2 .form .Tour-section {
        flex-direction: column;
    }

    .banner {
        width: 100%;
        flex-direction: column;
    }

    .banner-content {
        font-size: 1.4rem;
    }

    .form button {
        flex-direction: column;
    }

    #input {
        display: block;
    }
    .row1{
        flex-direction: column;
    }

}

@media screen and (min-width: 375px) and (max-width: 100%) {
.row1{
    flex-direction: column;
    height: auto;
    background-size: 100%;
}

}